.gopath
.gradle_cache
*-universe-url

md-to-toc.py*
__pycache__/
package

# maven
target/

# idea
*.i??
.idea/
out/

# eclipse
.classpath
.project
.settings/
kafka-*/bin/

# gradle
.gradle
build/

# log
*.log
dcos-kafka-service.log.*

# vim swap files
*.swp

# OS X
.DS_Store

# test
integration/.cache/
.cache/
integration/env/

# tools
tools/shakedown_env
*.pyc

#build
.stub_universe_url
.package-options.json
*.pem
venv/
logs/
env/
